$peraltaRed:#ca0707;

html {
   box-sizing: border-box;
}

ul {
  margin:0;
  padding:0;
}
li {
  list-style:none;
}

a {
  text-decoration: none;
  color:lightgrey;
}

ul {
  padding:0;
  margin:0;
}

body {
  position:absolute;
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment:fixed;
}

#wrapper {
  width:55%;
  height:100%;
  margin:0 auto;
}

header {
    /*position:relative;*/
    width:100%;
    height:425px;
}

.social-nav {
  width:100%;
  height:50px;
}

.social-nav li {
display:inline-block;
float:right;
padding: 0 3px;
}

.social-nav img {
  width:50px;
  height:50px;
}

.social-nav span:nth-child(1) {
  color:white;
  position:relative;
  font-size: .6em;
  left: 370px;
  top: 13px;
  font-family:"Didact Gothic",sans-serif;
}

.social-nav span:nth-child(2) {
  color:white;
  position:relative;
  font-size: .6em;
  margin-left: 15px;
  left: 370px;
  top: 13px;
  font-family:"Didact Gothic",sans-serif;
}


#header-nav {
  width: 100%;
  margin:0 auto;
  height: 50px;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);

}

#header-nav ul {
  display:inline-block;
  margin-left: 1px;
  padding-top: 3px;
  text-align: center;
}

#header-nav li {
  display: inline-block;
  padding:-1% 5px;
  width:162px;
  height:30px;
  background-color: #ca0707;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
}

#header-nav a {
    font-size: .749em;
    top:5px;
    position:relative;
    font-family: "Didact Gothic",sans-serif;
    font-weight: bold;
    color:white;
}

.dash {
  padding:0 13px;
}


#banner {
  width: 97.2%;
  height: 250px;
  border: 10px solid white;
  overflow: hidden;
  background-image: url(../assets/top-image.png);
  background-size: 152% auto;
  background-position: -140px -113px;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
}
/*grid overlay */
#grid {
  position: absolute;
      width: 54%;
      height: 249px;

}

#logo {
  position: absolute;
    top:7%;
    height: 171px;
}

#banner-loc {
  width:100%;
  height:70px;
}

#banner-loc ul {
  width: 100%;
  display: inline-block;
  margin: 4% 0px 10% 44%;

}

#banner-loc li {
  list-style: none;
  width:13px;
  height:13px;
  background-color: white;
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);

}

.dots {
  color:red;
  width:5px;
  height:5px;
  border-radius: 100%;

}

.threecol {
  width:100%;
  height:175px;
  display: inline-block;
  font-family: "Didact Gothic", sans-serif;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);

}
.threecol h1{
  font-size: .8em;
}

.threecol p{
  font-size: .6em;
  line-height: 2;
}
/* cols grid alignment */
.cols {
  border-spacing: 5px;
  width: 26%;
  padding: 3%;
  margin: 0% 0% 0% .5%;
  height: auto;
  /* margin-right: .9%; */
  background-color: white;
  display: inline-block;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
  }

#skaters {
  width: 100%;
  height: 423px;
  display: inline-block;
  position: relative;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
}

#resp-table {
  display: none;
}

table {
  margin-top: 5%;
  border-collapse: separate;
  display:table;
  height: 370px;
  width:100%;
  background-color:transparent;
  border-spacing: 7px;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
}


table tr:nth-child(1) {
  width:100%;
  height:50%;;
  background-color: transparent;
}

table tr td a h1 {
text-align: center;
line-height: 35px;
color:white;
font-family: "Open Sans", sans-serif;
font-weight:800;
}

.lance {
    width: 30%;
    background-size: 161% auto;
    background-image: url(../assets/sk8er-4.png);
    background-repeat: no-repeat;
    overflow: hidden;
    border: white 4px solid;
    background-position: -132px -8px;
}

table tr td h1:nth-child(1) {
  position: relative;
  top:4%;
}

.rodney {
  width: 30%;
  background-size: 178% auto;
  background-image: url(../assets/sk8er-3.png);
  background-repeat: no-repeat;
  overflow: hidden;
  border: white 4px solid;
  background-position: -33px -11px;
}

table tr td h1:nth-child(2){
  position: relative;
  top:4%;
}


.tommy {
  width: 30%;
  background-size: 295% auto;
  background-image: url(../assets/sk8er-2.png);
  background-repeat: no-repeat;
  overflow: hidden;
  border: white 4px solid;
  background-position: -357px 1px;
}

table tr td h1:nth-child(3) {
  position: relative;
  top:0;
  left:0;
}

/*second row of table*/

table tr:nth-child(2) {
  width:100%;
  height:50%;

}
.steve {
  width: 30%;
  height: 150%;
  background-size: 113% auto;
  background-image: url(../assets/sk8er-1.png);
  background-repeat: no-repeat;
  overflow: hidden;
  border: white 4px solid;
  background-position: -2px -71px;
}

table tr:nth-child(2) td h1 {
  text-align: center;
  position: relative;
  top:4%;
  left: 5%;
}

#skateboards {
  width: 100%;
  height:267px;
  display:inline-block;
  background-color: white;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
}

.boards {
  margin:auto 2%;
  display:inline-block;
  div {
    display: inline-block;
    float:right;
  }
}

.boards img:nth-child(1) {
  padding:0;
  margin:0;
}

#contact-us {
  margin-top: 4%;
  width: 100%;
  height:300px;
  display: inline-block;
  background-color: white;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
}


.contact-col-left {
  width:52.4%;
  height:auto;
  margin-right: .9%;
  background-color: white;
  display:inline-block;
  background-color: white;
  margin:2% 3%;
}

.contact-col-right {
  width:40%;
  height:auto;
  margin-right: .9%;
  background-color: white;
  display:inline-block;
  background-color: white;
}

.contact-us-resp{
  display: none;
}

#name {
    position: relative;
    top:39px;
    right:20px;
    width: 94%;
    line-height: 26px;
    box-shadow: 2px 0px 0px 2px rgba(255,255,255,0.5);
}


#email {
  position: relative;
  top:46px;
  right:20px;
  width: 94%;
  /* margin-bottom: :45%; */
  line-height: 26px;
  box-shadow: 2px 0px 0px 2px rgba(255,255,255,0.5);
}

#message {
    position: relative;
    top: 63px;
    right: 20px;
    width: 100%;
    line-height: 64px;
    box-shadow: 2px 0px 0px 2px rgba(255,255,255,0.5);
}

.contact-col-left p {
  font-size: .8em;
  line-height: 2;
  ;
}

#submit {
    position: relative;
    top: 82px;
    left: 96px;
    padding: 0 5px;
    width: 162px;
    height: 30px;
    background-color: #ca0707;
    box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
  }

#submit a {
  padding-left: 60px;
  font-size: .749em;
  top:5px;
  position:relative;
  font-family: "Didact Gothic",sans-serif;
  font-weight: bold;
  color:white;
}
 footer {
   width:100%;
   height:80px;
 }
