html {
   box-sizing: border-box;
}

ul {
  margin:0;
  padding:0;
}
li {
  list-style:none;
}

a {
  text-decoration: none;
  color:lightgrey;
}

ul {
  padding:0;
  margin:0;
}

body {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

#wrapper {
  width:55%;
  height:100%;
  margin:0 auto;
}
header {
    /*position:relative;*/
    width:100%;
    height:425px;
}

.social-nav {
  width:100%;
  height:50px;
}

.social-nav li {
display:inline-block;
float:right;
padding: 0 3px;
}

.social-nav img {
  width:50px;
  height:50px;
}

.social-nav span {
  color:white;
  position:relative;
  font-size: .6em;
  left: 370px;
  top: 13px;
  font-family:"Didact Gothic",sans-serif;
}

#header-nav {
  width: 100%;
  margin:0 auto;
  height: 50px;
}

#header-nav ul {
  display:inline-block;
  margin-left: 1px;
  padding-top: 3px;
  text-align: center;
}

#header-nav li {
  display: inline-block;
  padding:0 5px;
  width:162px;
  height:30px;
  background-color: #ca0707;
  box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
}

#header-nav a {
    font-size: .749em;
    top:5px;
    position:relative;
    font-family: "Didact Gothic",sans-serif;
    font-weight: bold;
    color:white;
}

.dash {
  padding:0 13px;
}


#banner {
  width:100%;
  height:250px;
  border:5px solid white;
  overflow: hidden;
  background-image: url(../assets/top-image.png);
  background-size: 152% auto;
background-position: -140px -113px;
}

#banner img:nth-child(1) {
  position: absolute;
      width: 55%;
      height: 249px;

}

#banner img:nth-child(2) {
  position: absolute;
  left: 24%;
  bottom: 15%;
  width: 22%;
  height: 180px;
}

.threecol {
  width:100%;
  height:175px;
  background-color: white;
}

.cols {
  width:30%;
  margin-right: 5%;
  background-color: white;
}
.col3 {
  width:30%;
  background-color: white;
}
